@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.coll-item {
    position: relative;
}

.tools {
    margin-left:10px;
    padding-left:15px;
    padding-right:15px;
}

.pull-right {
    position: absolute;
    right: 35px;
    top: 25px;
}

/* for global settings form - for 2 form lines with 6-6 in modal*/
.form-modal {
    margin-top: 100px;
}

/* checbox rectify placement next to input in global settings modal*/
[type="checkbox"]+label{
    padding-top: 40px;
    margin-left: 25px;
}

/* style of error message in modal*/
.form-error {
    padding-top: 10px;
}

[type="checkbox"].filled-in+label:before, [type="checkbox"].filled-in+label:after{
    margin-top:40px;
}

[type="checkbox"]:checked+label:before,
[type="checkbox"].filled-in:checked+label:before{
    top:2px;
}

/*rectify switch placement in cut program modal*/
.switch {
    padding-top: 5px;
    margin-left: 25px;
}

/* padding for materialize collecton item*/
.collection .collection-item {
    padding-bottom: 5px;
}

/*remove the content after to gain space*/
.row:after {
    content: normal;
}

/* filter button class to enable placement between input*/
.filter-btn {
    padding: 0px 2rem 0px 2rem;
    margin: 1rem 1rem 0px 1rem;
}

.modal.modal-fixed-footer {
    heigth: 30%;
}

/*style for error message when failing to retrieve API data*/
.error-message {
    color: red;
}

.main .api-url-input.col {
    padding: 0px;
}

.modal {
    overflow-y: hidden;
}

.main .api-url-input.col .input-field {
    padding: 0px;
}

.tab-main {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

div .modal .modal-footer .btn {
    margin: 10px;
}

.main .collection {
    margin: 0px;
    border-bottom-width: 0px;
}

.footer.page-footer {
    padding-top: 0px;
}

.footer.page-footer .container .row {
    display: none;
}

.footer .footer-copyright .container div {
    text-align: center;
}

.footer.footer-copyright {
    padding: 0px;
}

.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.nav-wrapper {
    padding-left: 35px;
    padding-right: 35px;
}

/*used for hidden object*/
.hidden {
    display: none;
}

.filter-row {
    margin-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    padding-bottom: 0px;
}

/* progress bar div to be center vertically/horizontally on screen*/
.center-div {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*channel title of timeline*/
.title {
    margin: 20px;
}