html, body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.flowchart {
    text-align: center;
    margin-left: 200px;
}

.durationpicker-container {
    background-color: white;
    border: 1px solid darkgrey;
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
}

.form-control {
    height: 38px;
    padding: 0px 20px 6px 0px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.duration-picker-label {
    margin-top: 13px;
    text-align: left;
}

.react-numeric-input input:focus {
    border: none;
}

.react-numeric-input input {
    text-align: right;
    border: none;
    height: 34px;
    width: 60px;
    cursor: auto;
}

.form-error {
    padding-top: 10px;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 240px;
    width: 100px;
    height: 100px; 
}


